packages:
  yum:
    cairo: []
    cairo-devel: []
    pango: []
    pango-devel: []
    libjpeg-turbo: []
    libjpeg-turbo-devel: []
    libpng: []
    libpng-devel: []
    freetype: []
    freetype-devel: []
    fontconfig: []
    fontconfig-devel: []

commands:
  01_verify:
    command: "cairo-sphinx -V || true"
